@use "sass:map";

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;

    @media (prefers-color-scheme: light) {
        code, pre, .highlight-box .highlight-box-actions > * {
            border-color: $border-color-02;
        }
    }

    a {
        color: inherit;
        text-decoration: underline;
        font-weight: bold;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    & > :last-child {
        .highlight {
            margin-bottom: 0;
        }
    }
}

@import 'colors.scss';

@each $color in map-keys($colors) {
    .alert-#{$color} {
        @include colored-box($color);
    }
}