$colors: (
    "primary": (
        "light": hsl(216, 90%, 50),
        "dark": hsl(210, 40%, 50),
    ),
    "secondary": (
        "light": hsl(210, 7%, 50),
        "dark": hsl(0, 0%, 50),
    ),
    "success": (
        "light": hsl(96, 50%, 40),
        "dark": hsl(165, 58%, 50),
    ),
    "danger": (
        "light": hsl(355, 70%, 50),
        "dark": hsl(6, 65%, 50),
    ),
    "warning": (
        "light": hsl(35, 80%, 50),
        "dark": hsl(37, 88%, 50),
    ),
    "info": (
        "light": hsl(190, 75%, 40),
        "dark": hsl(188, 77%, 50),
    ),
    "red": (
        "light": hsl(355, 70%, 50),
        "dark": hsl(6, 65%, 50),
    ),
    "orange": (
        "light": hsl(25, 80%, 50),
        "dark": hsl(37, 88%, 50),
    ),
    "yellow": (
        "light": hsl(40, 90%, 50%),
        "dark": hsl(55, 65%, 50),
    ),
    "green": (
        "light": hsl(105, 50%, 50),
        "dark": hsl(105, 58%, 50),
    ),
    "cyan": (
        "light": hsl(190, 70%, 50%),
        "dark": hsl(190, 65%, 50),
    ),
    "blue": (
        "light": hsl(210, 70%, 50%),
        "dark": hsl(210, 65%, 50),
    ),
    "purple": (
        "light": hsl(282, 70%, 50%),
        "dark": hsl(282, 45%, 50),
    )
);

@function get-color($type, $variant) {
    @return map-get($map: map-get($map: $colors, $key: $type), $key: $variant);
}

@mixin get-color-key($type, $key: "color") {
    #{$key}: get-color($type, "light");

    @media (prefers-color-scheme: dark) {
        #{$key}: get-color($type, "dark");
    }
}

@mixin box-text-color($type, $key) {
    $light-color: get-color($type, "light");
    $dark-color: get-color($type, "dark");

    #{$key}: change-color($light-color, $lightness: 30);

    @media (prefers-color-scheme: dark) {
        #{$key}: change-color($dark-color, $lightness: 70);
    }
}

@mixin box-bg-color($type, $key) {
    $light-color: get-color($type, "light");
    $dark-color: get-color($type, "dark");

    #{$key}: change-color($light-color, $lightness: 90);

    @media (prefers-color-scheme: dark) {
        #{$key}: change-color($dark-color, $lightness: 20, $alpha: 0.667);
    }
}

@mixin box-border-color($type, $key) {
    $light-color: get-color($type, "light");
    $dark-color: get-color($type, "dark");

    // Manually touch up some colors
    @if ($type == "success") {
        #{$key}: #c0e0ac;
    } @else if ($type == "info") {
        #{$key}: #9ddfeb;
    } @else {
        #{$key}: change-color($light-color, $lightness: 85);
    }

    @media (prefers-color-scheme: dark) {
        #{$key}: change-color($dark-color, $lightness: 25);
    }
}

@mixin colored-box($type) {
    @include box-text-color($type, "color");
    @include box-bg-color($type, "background-color");
    @include box-border-color($type, "border-color");
}