.minimal {
    margin-top: 16px;
    font: inherit;
    
    a {
        h1, h2, h3, h4, h5, h6 {
            display: inline-block;
        }

        text-align: left;
        background-color: transparent;
        color: $text-color;
        border-radius: 4px;
        display: block;
        cursor: pointer;
        transition: all .25s ease;
        position: relative;
        text-decoration: none;
        margin: 0;
        border: 0;
        padding: 8px 16px;

        :last-child {
            margin-bottom: 0;
        }

        &::after {
            content: "→";
            text-align: center;
            width: 15px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            transition: all 150ms;
            position: absolute;
            right: 10px;
            top: 50%;
        }

        &:hover {
            background-color: $code-background-color;
        }
    }
}