<figure class="highlight-box">
    {% assign includelang = include.lang %}
    {% assign includemark_lines = include.mark_lines %}
    {%- highlight includelang mark_lines=includemark_lines -%}
    {{ include.code }}
    {%- endhighlight -%}

    {%- assign desc = include.description | default: "" -%}
    {% unless include.description == "" %}
    <figcaption>{{ include.description }}</figcaption>
    {% endunless %}

    {% unless include.static %}
    <div class="highlight-box-actions">
        {%- assign source_code = include.full_code | default: include.code | strip | cgi_escape -%}
        <a href="https://cpp.sh/?source={{ source_code }}" target="_blank">
            Esegui codice
            {% include ext.html -%}
        </a>
    </div>
    {% endunless %}
</figure>