@mixin lm-highlight {
    $code-background-color: #eee !important;
    // Code comments
    :root {
        --minima-code-background-color: #eee !important;
    }
    .highlight {
        --minima-code-background-color: #eee !important;
        .c, .c1, .cm {
            color: #778 !important;
        }

        .cp { // Comment.Preproc
            color: #b6561f;
            font-weight: bold
        }

        .cpf { // Comment.PreprocFile
            color: #458;
            font-style: italic;
        }
    }
}

@mixin dm-highlight {
    // Code comments
    .highlight {
        .c, .c1, .cm {
            color: #889 !important;
        }

        .cp { // Comment.Preproc
            color: #c97647;
            font-weight: bold
        }

        .cpf { // Comment.PreprocFile
            color: #82aaff;
            font-style: italic;
        }
    }
}

@media (prefers-color-scheme: light) {
    @include lm-highlight;
}

@media (prefers-color-scheme: dark) {
    @include dm-highlight;
}