@import "preamble.scss";

@import "components/abbr.scss";
@import "components/accordion.scss";
@import "components/alert.scss";
@import "components/anchor.scss";
@import "components/code-box.scss";
@import "components/highlight-box.scss";
@import "components/mermaid.scss";
@import "components/text.scss";

.highlight {
    .hll {
        display: block;
        position: relative;
        left: -12px;
        width: 100%;
        padding: 0 12px;
    }
}

.rouge-table tr {
    vertical-align: top;
}

nav.toc {
    h4 {
        margin: 16px 0;
        @include relative-font-size(1.25);
    }

    background-color: $code-background-color;
    margin: 4px 0 32px 0;
    padding: 8px 32px;
    border: 1px solid $border-color-01;
    border-radius: 4px;

    ul {
        list-style: "-  " !important;
    }
}

details {
    summary {
        h1, h2, h3, h4, h5, h6 {
            display: inline-block;
            margin-left: 0.3em;
        }

        &:hover {
            background-color: $code-background-color;
        }

        &::-webkit-details-marker, &::marker {
            display:none !important;
        }
        
        padding: 0 16px;
        border-radius: 4px;
        transition: all 150ms;
    }

    @keyframes details-show {
        from {
            opacity:0;
            transform: var(--details-translate, translateY(-0.5em));
        }
    }

    & > *:not(summary) {
        transition: all 150ms;
    }
    &[open] > *:not(summary) {
        padding: 16px 0 0 16px;
        border: 1px dashed $border-color-01;
        border-radius: 4px;
        animation: details-show 150ms ease-in-out;
    }

    margin-top: 16px;
}

summary:before {
    content: '';
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

.post-title-info {
    .p-name {
        display: inline;
    }

    .post-pill {
        padding: 6px 12px;
        border-radius: 4em;
        background-color: $code-background-color;
        margin: 0 0 7.5px 8px;
        vertical-align: super;
        line-height: normal;
        @include relative-font-size(1.2);
    }

    margin-bottom: 15px;
}

figure table {
    margin-bottom: 8px;

    &.rouge-table {
        margin: 0;
        
        & td {
            border: none;
            padding: 0;

            & pre {
                border: none;
                padding-bottom: 0;
            }
        }
    }
}