---
layout: default
lang: it
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-title-info">
      <h1 class="p-name post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <span class="post-pill">{{ site.data.langs[page.lang].name }}</span>
    </div>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date.html date=page.date format=date_format lang="it" %}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          <a href="{{ site.github_repo }}/blame/master/{{ page.path }}" target="_blank">
            {% include date.html date=page.modified_date format=date_format lang="it" -%}
            {% comment %}
            {% include ext.html %}
            {% endcomment %}
          </a>
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <nav class="toc">
    <h4>In questa pagina</h4>
    <div>{% toc %}</div>
  </nav>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>